//Colors
$primary-color: #333333;
$secondary-color1: #CCCCCC;
$secondary-color2: #666666;
$secondary-color3: #FF9900;
$text-color-dark: #333333;
$text-color-light: #FFFFFF;
$accent-color: #FF9900;

$border-radius: 10px;

$Roboto: "Roboto", sans-serif;
$Arial: "Arial", sans-serif;