@import "_var.scss";

html, body{
    height: 100%;
    width: 100%;
}
body {
    background-color: $primary-color;
    color: $text-color-dark;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    box-sizing: border-box;
}

button{
    margin: 40px 0px;
    border-radius: $border-radius;
    width:80%;
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
    font-family: $Arial;
    background-color: $secondary-color3;
    color: $primary-color;
    border: none;
}